* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

html {
    background-color: black;
}

#inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 10px;
}

#inputs input:not([type="button"]) {
    background-color: black;
    border-color: white;
    border-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
}

#inputs input:not([type="button"])::placeholder {
    color: lightgray;
}

#inputs input[type="button"] {
    background-color: rgb(0, 0, 200);
    border-color: rgb(0, 0, 100);
    border-style: solid;
}

#points {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style-type: none;
    padding: 0;
    margin: 25px 0;
    text-align: center;
    gap: 20px;
}

canvas {
    border: 1px solid white;
}